name: sentinel

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  sentinel-format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install Sentinel
        uses: bloominlabs/setup-hashicorp-releases@v2
        with:
          package: sentinel
          version: ^0.28.0
      - name: Sentinel Format
        run: sentinel fmt -check=true $(find . -name "*.sentinel" -type f)

  sentinel-test:
    needs: sentinel-format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install Sentinel
        uses: bloominlabs/setup-hashicorp-releases@v2
        with:
          package: sentinel
          version: ^0.28.0
      - name: Sentinel Test
        run: make tests
